{% extends 'base.html' %} {% block header %}
<h1 class="display-5 fw-bold text-center p-5">
    {% block title %}Add Contact{% endblock %} {% endblock %} {% block content
    %}
    <p class="lead">
        Add students or parents or additional contacts who should be included in
        text notifications.
    </p>
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
                name="name"
                id="name"
                class="form-control"
                placeholder="Enter name of contact"
                required
            />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
                name="email"
                id="email"
                class="form-control"
                placeholder="email@example.com"
                required
            />
        </div>
        <div>
            <label for="phone" class="form-label">Phone</label>
            <input
                name="phone"
                id="phone"
                class="form-control"
                placeholder="Enter mobile phone number"
                required
            />
        </div>
        <div class="mt-3">
            <input
                class="btn btn-danger btn-lg px-4 gap-3"
                type="submit"
                value="Add Contact"
            />
        </div>
    </form>
    {% endblock %}
</h1>
